[scripts]
dist = "python -m build"
dist-check = "twine check dist/*"
test = "pytest -p no:cacheprovider"

[dev-packages]
build = "*"
pytest = "*"
setuptools-pep660 = "*"
twine = ">= 3.7.1"
pytest-matcher = {editable = true, path = "."}

[packages]
PyYAML = ">= 3.12"
