# SPDX-FileCopyrightText: 2024-now, Alex Turbov <zaufi@pm.me>
# SPDX-License-Identifier: CC0-1.0

name: Run Unit Tests

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

env:
  CLICOLOR: 1
  CLICOLOR_FORCE: 1
  FORCE_COLOR: 1
  PIP_DISABLE_PIP_VERSION_CHECK: 1

jobs:
  test:
    name: Hatch run unit tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.12'

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get Cache Key
        run: |
          echo "CACHE_KEY=$( \
              yq eval -r .tool.hatch.envs.hatch-test.overrides.matrix.pytest.dependencies -oy pyproject.toml \
            | sha1sum \
            | cut -f 1 -d ' ' \
            )" | tee -a "${GITHUB_ENV}"
        shell: bash

      - name: Prepare Cache
        uses: actions/cache@v4
        with:
          key: py${{ matrix.python-version }}-hatch-${{ env.CACHE_KEY }}-tests
          path: |
            ~/.cache/pip
            ~/.local/share/hatch

      - name: Install `hatch`
        uses: pypa/hatch@install

      - name: Run tests
        run: |
          hatch test -a
